<div class="jumbotron">
  <h1>Hi. This is NYCritter.</h1>
  <p>A website to see if it is safe to eat at any restaurant in New York City</a>
  <br />
  and to help spread awareness</a>.</p> <br />
  <%= form_tag search_webextracts_path, method: :get do %>
  <%= text_field_tag :zip, nil, placeholder: "Enter name or zip"%>
  <%= submit_tag "FIND EM", class: "btn btn-warning" %>
  <% end %>
</div>


